  <div class="span3">
		
	  <div class="well" style="padding: 8px 0;">
		<ul class="nav nav-list">
		  <li class="nav-header">List header</li>
		  <li class="active"><a href="#">Home</a></li>
		  <li><a href="#">Library</a></li>
		  <li><a href="#">Applications</a></li>
		  <li class="nav-header">Another list header</li>
		  <li><a href="#">Profile</a></li>
		  <li><a href="#">Settings</a></li>
		  <li class="divider"></li>
		  <li><a href="#">Help</a></li>
		</ul>
	  </div>
	</div>

  <div class="span9">
        <ul class="nav nav-tabs">
            
            <li class="active"><a href="#A" data-toggle="tab">Technology Services</a></li>
            <li><a href="#B" data-toggle="tab">FAQ</a></li>
            <li><a href="#C" data-toggle="tab">Contact Us</a></li>
            <li><a href="#D" data-toggle="tab">Applications / Reports</a></li>
        
        </ul>
        <div class="tabbable">
            <div class="tab-content">
                <div class="tab-pane active" id="A">
                    <h3>Technology Services Department Mission Statement</h3>
                    <p>
                        To provide secure, reliable, accurate and accessible information processing services to hospital departments, professional services and administrative staff that support the hospital mission, vision, and goals.
                    </p>
                </div>
                <div class="tab-pane" id="B">

                    <h3>Frequently Asked Questions</h3>
                    <div class="accordion" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Getting An Account 
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    Contact your immediate supervisor with your request. Your supervisor should email
           <a href="mailto:paul.mello@msh.dsh.ca.gov?subject=New%20Account%20Request">Paul.Mello@msh.dsh.ca.gov</a>
                                    The contents of the email should include:
          <ul>
              <li>Employee Full Name</li>
              <li>Groups that the employee needs</li>
          </ul>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Obtaining Internet Access
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    To obtain internet access please fill out administrative AD 1024 form. The form Please also review AD 2111 to learn about
          Employees’ Computer Usage Guidelines.
          To gain Internet access, the employee submits a request for Internet Access
form to his/her Department Manager/Program Director.
                                    <h4>Below is an excerpt of key points from Administrative directive 1024</h4>

                                    <ul>
                                        <li>4.3 Upon the Department Manager’s/Program Director’s recommendation,
the Department Manager/Program Director will forward the request to the
appropriate administrator (Executive Director, Medical Director, Hospital
Administrator, or Clinical Administrator) for approval.</li>
                                        <li>4.4 Upon approval by the appropriate administrator as provided in Section</li>
                                        <li>4.3, the request will be forwarded to the Information Technology (IT)Department.</li>
                                        <li>4.5 Upon receipt of the approved request, Information Technology staff will
        set up Internet training and access on the employee’s workstation. Access
        may also be obtained through the Staff Library for approved Internet
        users.

                                        </li>
                                        <li>4.6 Internet access can and will be monitored by Information Technology
    staff. Any unauthorized use of the Internet will result in the employee’s
    supervisor being notified and possible adverse action and/or loss of
    Internet access
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="C">
                <div class="aboutus">
                    <div class="span12">
                    <div class="row">
                  
                        <div class="span6">
                           
                            <div class="col-l">
                                <img src="@Url.Content("~/Images/UnknownImage.gif")" />
                            </div>
                            <div class="col-r">
                                <h3>Alex Najera</h3>
                                <h4>Staff Infomation System Analyst (Supervisor)</h4>
                             
                                    <ul>
                                        <li>Phone : x4451</li>
                                        <li>Email : <a href="mailto:alex.najera@msh.dsh.ca.gov">Alex.Najera@msh.dmh.ca.gov</a></li>
                                    </ul>
                              
                            </div>
                      
                      
                        </div>
                        <div class="span6">
                            <h4>Reponsabilities</h4>
                            <p>
                                This is the working supervisor level. Under 
general supervision, supervises a small staff of analysts performing a wide variety of analytical activities in 
support of complex information technology systems and/or teleprocessing networks/systems. 

                            </p>

                        </div>

                    </div>
                    <hr />
                    <div class="row">
                  
                        <div class="span6">
                           
                            <div class="col-l">
                                  <img src="@Url.Content("~/Images/UnknownImage.gif")" />
                            </div>
                            <div class="col-r">
                                <h4>Ali Eisa</h4>
                                <h4>Associate Information System Analyst</h4>
                             
                                    <ul>
                                        <li>Phone : x4451</li>
                                        <li>Email : <a href="mailto:ali.eisa@msh.dsh.ca.gov">Ali.Eisa@msh.dmh.ca.gov</a></li>
                                    </ul>
                              
                            </div>
                      
                      
                        </div>
                        <div class="span6">
                            <h4>Reponsabilities</h4>
                            <p>
                             Under general supervision, incumbents perform a variety of tasks in connection 
with the analysis, development, installation, implementation, procurement, or support of information 
technology systems, multifunction automated office systems, microcomputer systems, and teleprocessing 
networks and/or systems; and/or act as project leader on information technology system studies, and/or 
participate with other analysts on information technology systems studies of complex nature or broad scope

                            </p>

                        </div>

                    </div>
                    <hr />
                    <div class="row">
                        <div class="span6">
                           
                            <div class="col-l">
                                 <img src="@Url.Content("~/Images/UnknownImage.gif")" />
                            </div>
                            <div class="col-r">
                                <h4>Dat Ta</h4>
                                <h4>Associate Information System Analyst</h4>
                                <ul>
                                    <li>Phone : x1210</li>
                                    <li>Email : <a href="mailto:Johnny.Ta@msh.dsh.ca.gov">Johnny.Ta@msh.dsh.ca.gov</a></li>
                                </ul>
                            </div>
                        </div>
                    <div class="span6">
                            <h4>Reponsabilities</h4>
                            <p>Under general supervision, incumbents perform a variety of tasks in connection 
with the analysis, development, installation, implementation, procurement, or support of information 
technology systems, multifunction automated office systems, microcomputer systems, and teleprocessing 
networks and/or systems; and/or act as project leader on information technology system studies, and/or 
participate with other analysts on information technology systems studies of complex nature or broad scope</p></div>
                    </div>    
                    <hr />
                    <div class="row">
                  
                        <div class="span6">
                           
                            <div class="col-l">
                                 <img src="@Url.Content("~/Images/UnknownImage.gif")" />
                            </div>
                            <div class="col-r">
                                <h4>Jeff Groover</h4>
                                <h4>Information Systems Tech Specialist I </h4>
                             
                                    <ul>
                                        <li>Phone : x4451</li>
                                        <li>Email : <a href="jeff.groover@msh.dsh.ca.gov"> Jeff.Groover@msh.dsh.ca.gov</a></li>
                                    </ul>
                              
                            </div>
                      
                      
                        </div>
                        <div class="span6">
                            <h4>Reponsabilities</h4>
                            <p>
                                Supporting information technology systems, such as, but not limited to,
                                data management; procedure writing; writing job setup instructions; 
                                performing program librarian functions; doing other related duties in support of the systems 
                                analysis, programming.
                            </p>

                        </div>

                    </div>
                    <hr />
                    <div class="row">
                        <div class="span6">
                           
                            <div class="col-l">
                                 <img src="@Url.Content("~/Images/UnknownImage.gif")" />
                            </div>
                            <div class="col-r">
                                <h4>Jose Velez Colon</h4>
                                <h4>Staff Programmer Analyst Specialist</h4>
                                <ul>
                                    <li>Phone : x4524</li>
                                    <li>Email : <a href="mailto:jose.velez-colon@msh.dsh.ca.gov">jcolon@msh.dsh.ca.gov</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="span6">
                            <h4>Reponsabilities</h4>
                            <p> Under general supervision, acts as a project leader on complex applications, or on 
complex information technology system problems; and works independently as a technical 
specialist.</p></div>
                    </div>    
                    <hr />
                    <div class="row">
                        <div class="span6">
                           
                            <div class="col-l">
                                 <img src="@Url.Content("~/Images/UnknownImage.gif")" />
                            </div>
                            <div class="col-r">
                                <h4>Luke Palusko</h4>
                                <h4>Staff Programmer Analyst Specialist</h4>
                                <ul>
                                    <li>Phone : x5530</li>
                                    <li>Email : <a href="mailto:luke.palusko@msh.dsh.ca.gov">Luke.Palusko@msh.dsh.ca.gov</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="span6">
                            <h4>Reponsabilities</h4>
                            <p> Under general supervision, acts as a project leader on complex applications, or on 
complex information technology system problems; and works independently as a technical 
specialist.</p></div>
                    </div>    
                    <hr />
                    <div class="row">
                        <div class="span6">
                           
                            <div class="col-l">
                                  <img src="@Url.Content("~/Images/UnknownImage.gif")" />
                            </div>
                            <div class="col-r">
                                <h4>Paul Mello</h4>
                                <h4>Staff Programmer Analyst Specialist</h4>
                                <ul>
                                    <li>Phone : x5442</li>
                                    <li>Email : <a href="mailto:paul.mello@msh.dsh.ca.gov">Paul.Mello@msh.dsh.ca.gov</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="span6">
                            <h4>Reponsabilities</h4>
                            <p> Under general supervision, acts as a project leader on complex applications, and/or on 
complex information technology system problems; and works independently as a technical 
specialist.</p></div>
                    </div>    
                    <hr />
                    <div class="row">
                        <div class="span6">
                           
                            <div class="col-l">
                                  <img src="@Url.Content("~/Images/UnknownImage.gif")" />
                            </div>
                            <div class="col-r">
                                <h4>Patrick Ensign</h4>
                                <h4>Associate Information System Analyst</h4>
                                <ul>
                                    <li>Phone : x5442</li>
                                    <li>Email : <a href="mailto:patrick.ensign@msh.dsh.ca.gov">Patrick.Ensign@msh.dsh.ca.gov</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="span6">
                            <h4>Reponsabilities</h4>
                            <p>Under general supervision, incumbents perform a variety of tasks in connection 
with the analysis, development, installation, implementation, procurement, or support of information 
technology systems, multifunction automated office systems, microcomputer systems, and teleprocessing 
networks and/or systems; and/or act as project leader on information technology system studies, and/or 
participate with other analysts on information technology systems studies of complex nature or broad scope </p></div>
                    </div>    
                    <hr />
                    <div class="row">
                        <div class="span6">
                           
                            <div class="col-l">
                                   <img src="@Url.Content("~/Images/UnknownImage.gif")" />
                            </div>
                            <div class="col-r">
                                <h4>Renlo Santos</h4>
                                <h4>Associate Information System Analyst</h4>
                                <ul>
                                    <li>Phone : x1010</li>
                                    <li>Email : <a href="mailto:renlo.santos@msh.dsh.ca.gov">Renlo.Santos@msh.dsh.ca.gov</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="span6">
                            <h4>Reponsabilities</h4>
                            <p>Under general supervision, incumbents perform a variety of tasks in connection 
with the analysis, development, installation, implementation, procurement, or support of information 
technology systems, multifunction automated office systems, microcomputer systems, and teleprocessing 
networks and/or systems; and/or act as project leader on information technology system studies, and/or 
participate with other analysts on information technology systems studies of complex nature or broad scope </p></div>
                    </div>    
                    <hr />
                    <div class="row">
                  
                        <div class="span6">
                           
                            <div class="col-l">
                                 <img src="@Url.Content("~/Images/UnknownImage.gif")" />
                            </div>
                            <div class="col-r">
                                <h4>Scott Walton</h4>
                                <h4>Information Systems Tech Specialist I</h4>
                             
                                    <ul>
                                        <li>Phone : x4451</li>
                                        <li>Email : <a href="scott.walton@msh.dsh.ca.gov"> Scott.Walton@msh.dsh.ca.gov</a></li>
                                    </ul>
                              
                            </div>
                      
                      
                        </div>
                        <div class="span6">
                            <h4>Reponsabilities</h4>
                            <p>
                                 Supporting information technology systems, such as, but not limited to,
                                data management; procedure writing; writing job setup instructions; 
                                performing program librarian functions; doing other related duties in support of the systems 
                                analysis, programming.

                            </p>

                        </div>

                    </div>
                
                  </div>
                 </div>
                </div>
                <div class="tab-pane" id="D">
                    <h4>Applications</h4>
                    <ul>
                        <li><a href="http://mhmapps01/Portal.wgx" target="_blank">MSH Application Portal</a></li>
                    </ul>
                    <h4>Reporting Portal</h4>
                    <ul>
                        <li><a href="http://mhmssrs2/Reports" target="_blank">MSH Reporting Portal </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /tabbable -->

    </div>
    <!--Span9-->